@import url("../css/common.css");
.main {
    height: 100vh;
    width: 100vw;
    background: url(../img/section.jpg) center center / cover no-repeat;
}

.content {
    width: 400px;
    background: var(--secondary-color);
    position: relative;
}

.form {
    width: 90%;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: var(--gradient-color);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}

.header__logo-img {
    width: 50px;
    transform: translateY(-0.25rem);
}

.header__logo-name {
    font-size: 1.5rem;
}